<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:replace="/include/top"></div>
	<section>
		<br>
		<div align=center>
			<h1> 목록보기 </h1>
			<table border="1">
				<tr>
					<td>회원번호</td>
					<td>주소</td>
					<td>등급</td>
					<td>이름</td>
					<td>휴대폰 번호</td>
					<td>사진</td>
				</tr>
				<tr th:each="m : ${li}">
					<td th:text="${m.NO}"></td>
					<td th:text="${m.ADDRESS}"></td>
					<td th:text="${m.GRADE}"></td>
					<td th:text="${m.NAME}"></td>
					<td th:text="${m.PHONE}"></td>
					<td><img th:src="@{/psd/files/}+${m.FILENAME}" width="100px" height="100px" /></td>
				</tr>
			</table>
			<form action="psdList2.do">
				<select name="ch1">
					<option value="NO"> 회원번호 </option>
					<option value="NAME"> 회원이름 </option>
					<option value="PHONE"> 전화번호 </option>
				</select>
				<input type="text" name="ch2">
				<input type="submit" value="검색하기">
			</form>
			<br><br>
		</div>
	</section>
	<div th:replace="/include/bottom::footer"></div>
</body>

</html>